/* ------------- Контейнер ---------------- */

/* ----------------Шапка сайта--------------------------------------- */

/* ----------------------Оформление логотипа -----------------------*/

/* ---------------------Оформление меню навигации ------------------*/

/* ---------------- Оформление меню контактов--------------------- */

/* -------------- Нижняя линия шапки------------- */

/* --------------------Оформление раздела Hero ---------------------*/

/*---------------- Оформление раздела "Особенности компании ---------------------*/

/* --------------- Оформление раздела "Чем занимается компания" ---------------------------- */

/* --------------- Оформление раздела "Команда компании" ---------------------------- */

/* -------------- Оформление раздела Постоянные клиенты ----------- */

/* --------------- Оформление футера ---------------------------- */

/* ------------------------Страница Портфолио --------------------------------- */

/* --------------- Оформление кнопок  Фильтр работ ---------------------------- */
.worklist-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.worklist-filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  border: none;
  border-radius: 4px;
  background-color: var(--button-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  color: var(--third-color);
  background-color: var(--accent-color);
}

/* --------------- Оформление галерея работ ---------------------------- */
.worklist-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.worklist-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.worklist-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.worklist-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.worklist-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  overflow: auto;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--third-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.worklist-link:hover .overlay,
.worklist-link:focus .overlay {
  transform: translateY(0%);
}

.worklist-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}

.worklist-desc {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.worklist-border {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

/* ----- Оформление backdrop -------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  visibility: visible;
  opacity: 1;
  pointer-events: auto;

  transform: scale(1);
  transition: opacity 400ms linear, transform 300ms linear;

  background-color: rgba(0, 0, 0, 0.2);
}

/* -----------Офрмление модального окна-------- */
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding: 40px 35.76px 40px 41px;
  width: 528px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--third-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 30px;
  height: 30px;
  padding: 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;
}

.close-button:focus,
.close-button:hover {
  fill: var(--accent-color);
}

/* ---------Оформление формы модального окна ------- */

.modal-form {
  display: flex;
  flex-direction: column;
}

.head-modal-form {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-color);
}

.modal-form-label {
  position: relative;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--secondary-color);
}

.form-icon-position {
  position: relative;
  margin-top: 4px;

  display: block;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  outline: none;
  cursor: pointer;
}

.form-input:focus,
.form-input:hover {
  border-color: var(--accent-color);
}

.form-input:focus + .form-icon-svg {
  fill: var(--accent-color);
}

.form-input:hover + .form-icon-svg {
  fill: var(--accent-color);
}

.form-icon-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;

  display: block;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment {
  display: inline-block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  resize: none;
  outline: none;
}

.modal-form-comment:hover,
.modal-form-comment:focus {
  border-color: var(--accent-color);
}

.modal-form-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox-wrapper {
  margin-bottom: 30px;
}

.modal-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-color);
  cursor: pointer;
}

.modal-form-checkbox-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--primary-color);
  border-radius: 2px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/vector.svg);
  border-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  background-color: var(--accent-color);
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  outline: 2px solid var(--accent-color);
}

.modal-form-checkbox-label a {
  color: var(--accent-color);
}

.modal-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;

  color: var(--third-color);
  background: var(--accent-color);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #188ce8;
}
